.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Route {
  flex-grow: 1;
  color: rgb(46, 45, 45);
  padding: 1rem;
  overflow-y: auto;
  text-align: center;
}

main {
  flex-grow: 1;
  color: rgb(46, 45, 45);
  padding: 1rem 1rem;
  overflow-y: auto;
  text-align: center;
}

.Cards-Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.active {
  background-color: rgba(15,15,13)
}

